body{
  background-color: rgba(90, 11, 24, 0.977);
  text-align: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #333;
  color: white;
}

.nav-buttons button {
  margin-left: 15px;
  border-radius: 5px


  
}

.navbar {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center;
  background: #610a2a;
  padding: 15px;
  border-radius: 8px;
}


.navbar .logo {
  color: #f3e6ea;
  margin-bottom: 10px;
  font-size: 20px;
}


.nav-buttons {
  display: flex;
  gap: 15px; 
}

.nav-buttons button {
  font-size: 16px;     
  padding: 10px 20px;  
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: #940847;
  color: white;
  transition: 0.3s;
}

.nav-buttons button:hover {
  background: #b30054;
   box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
}

.nav-buttons :hover {
  border-radius: 8px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  background-color: #340c71;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s;
}
.app-container{
  max-width: 1000px;  
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(139, 20, 69, 0.082);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  color: black;
  box-shadow: white;
}
.app-container:hover{
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.6);
  border: 2px solid rgb(59, 55, 55);
}
.todo-app{
  margin-top: 50px;
}

.logo{
  color: rgb(224, 64, 115);
}

.todo-list {
   
  padding: 0;
  margin: 20px 0;
}
.todo-input{
  width: 70%;
  padding: 10px;
  border: 1px solid #07a19e;
  border-radius: 5px;
  font-size: 16px;
  color: rgb(160, 20, 62);
}
.btn{
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #8e0b34;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover{
  background-color: #550c1f;
  box-shadow: white;
  border: 2px solid rgb(59, 55, 55);
   box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}
.todo-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #8f3f3f;
  margin: 8px 0;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.todo-list li.done span {
  text-decoration: line-through;
  color: gray;
}
.todo-list{
    
  color: #121212;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}


.todo-list input[type="checkbox"] {
  margin-right: 10px;
}


.todo-list button {
  border: none;
  padding: 6px 12px;
  margin-left: 6px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.todo-list button:nth-child(3) {
  background: #a40441;
  color: white;
}

.todo-list button:nth-child(3):hover {
  background: #7c8ea2;
}


.todo-list button:nth-child(4) {
  background: #dc3545;
  color: white;
}

.todo-list button:nth-child(4):hover {
  background: #a71d2a;
}
.clear-buttons{
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.clear-btn{
  background-color: #760a2c;
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}
.clear-btn:hover{
  background-color: #a4032e;
  box-shadow: white;
  border: 2px solid rgb(59, 55, 55);
}